/bootstrap/cache
/bootstrap/compiled.php
/vendor
/node_modules
/public/storage
/bower_components
/storage/**/*
!/storage/cache
Homestead.yaml
Homestead.json
.env.*.php
.env.php
.env
*.tar.gz
*.zip
*.jpg
*.jpeg
*.png
*.gif
sftp-config.json
.remote-sync.json
composer.phar
composer.lock
